<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Chat</title>
    <script src="https://js.pusher.com/8.2.0/pusher.min.js"></script>
    <script>
      // Enable pusher logging - don't include this in production
      Pusher.logToConsole = true;

      var pusher = new Pusher('cefecd31795a4e419288', {
        cluster: 'eu'
      });

      var channel = pusher.subscribe('my-channel');
      channel.bind('my-event', function(data) {
        var history = document.getElementById("chatDiv").innerHTML;

      });
    </script>
  </head>
  <body>
    <div>Hello </div><div id="userDiv">{{user}}</div><br>
    <input type="text" id="testInput" name="testInput"><br><br>
    <button onclick="onButtonTestInputClick()">Test</button>
    <div id="chatDiv"></div>
    <script>
      function onButtonTestInputClick(){
        var url = window.location.href;
        var urlArray = url.split('/');
        var cod = 'my-channel';//urlArray[urlArray.length - 1];
        var mes = document.getElementById("testInput").value;
  	    fetch("https://filthy-sweatsuit-boa.cyclic.cloud/update", {
          method: "POST",
          body: JSON.stringify({
            id: "testInput",
            code: cod,
            message: mes
          }),
          headers: {
            "Content-type": "application/json; charset=UTF-8"
          }
        })
      };
    </script>
  </body>
</html>