<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Chat</title>
    <script src="https://js.pusher.com/8.2.0/pusher.min.js"></script>
    <script>
      // Enable pusher logging - don't include this in production
      Pusher.logToConsole = true;

      var pusher = new Pusher('cefecd31795a4e419288', {
        cluster: 'eu'
      });

      var channel = pusher.subscribe('my-channel');
      channel.bind('my-event', function(data) {
        var history = document.getElementById("chatDiv").innerHTML;
        var newLine = "<br>" + data.user + ":";
        for (int i = newLine.length; i < 40){
          newLine = newLine + "&nbsp;";
        }
        history = history + newLine + data.message;
        document.getElementById("chatDiv").innerHTML = history;
      });
    </script>
  </head>
  <body>
    <p>Hello! Please input a handle before typing an message!</p>
    <label for="userName">Handle: </label>
    <input type="text" id="userName" name="userName"><br>
    <p>Input your chat message here</p>
    <input type="text" id="messageInput" name="messageInput">
    <button onclick="onSendClick()">Send</button>
    <div id="chatDiv"></div>
    <script>
      function onSendClick(){
        var url = window.location.href;
        var urlArray = url.split('/');
        var cod = 'my-channel';//urlArray[urlArray.length - 1];
        var mes = document.getElementById("messageInput").value;
        var use = document.getElementById("userName").value;
  	    fetch("https://filthy-sweatsuit-boa.cyclic.cloud/update", {
          method: "POST",
          body: JSON.stringify({
            id: "messageInput",
            code: cod,
            user: use,
            message: mes
          }),
          headers: {
            "Content-type": "application/json; charset=UTF-8"
          }
        })
      };
    </script>
  </body>
</html>