<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Chat</title>
    <script src="https://js.pusher.com/8.2.0/pusher.min.js"></script>
    <script>
      var pusher = new Pusher('cefecd31795a4e419288', {
        cluster: 'eu'
      });

      var channel = pusher.subscribe('my-channel');
      channel.bind('chat', function(data) {
        var history = document.getElementById("chatDiv").innerHTML;
        var newLine = "<br>" + data.user + ":";
        for (let i = newLine.length; i < 40; i++){
          newLine = newLine + "&nbsp;";
        }
        history = history + newLine + data.message;
        document.getElementById("chatDiv").innerHTML = history;
      });
    </script>
  </head>
  <body>
    {{body}}
  </body>
</html>