<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
    <script src="https://js.pusher.com/8.2.0/pusher.min.js"></script>
    <script>

      // Enable pusher logging - don't include this in production
      Pusher.logToConsole = true;

      var pusher = new Pusher('cefecd31795a4e419288', {
        cluster: 'eu'
      });

      var channel = pusher.subscribe('my-channel');
      channel.bind('my-event', function(data) {
        document.getElementById("divTest").innerHTML = JSON.stringify(data);
      });

      function onButtonClick(){
  	    var pusher = new Pusher({
          appId: "1679697",
          key: "cefecd31795a4e419288",
          secret: "69192cf5d43c8f457530",
          cluster: "eu",
          useTLS: true
        });
        var inp = document.getElementById("testInput");
        pusher.trigger("my-channel", "my-event", {
          message: inp.value;
        });
      };
    </script>
  </head>
  <body>
    <div id="divTest">Hello</div><br><br>
    <input type="text" id="testInput" name="testInput"><br><br>
    <button onclick="onButtonClick()">Test</button>
  </body>
</html>